//$cl-primary: rgba(38, 109, 211, 1);
//$cl-black: rgba(7, 7, 7, 1);
//$cl-secondary: rgba(27, 73, 101, 1);
//$cl-white: rgba(253, 255, 252, 1);
//$cl-accent: rgba(32, 44, 57, 1);

$cl-primary: rgba(252, 163, 17, 1);
$cl-secondary: rgba(20, 33, 61, 1);
$cl-black: rgba(0, 0, 0, 1);
$cl-text: rgba(255, 255, 255, 1);
$cl-accent: rgba(229, 229, 229, 1);